*,html{
    scroll-behavior: smooth;
    }
    *, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    }

    /* ::-webkit-scrollbar {
    height: 12px;
    width: 8px;
    background: #000;
    }
    ::-webkit-scrollbar-thumb {
    background: gray;
    -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.75);
    }
    ::-webkit-scrollbar-corner {
    background: #000;
    }
     */

    /* =================================================== */
    /*====================== DEFAULT=======================*/
    body{
    margin:0;
    overflow-x:hidden !important;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.2rem;
    height: 125vh;
    margin:0;
    padding:0;
    }
    
    a{
    text-decoration:none;
    color:white;
    }
    
    a,button{
    transition:0.5s;
    }
    
    p{
    line-height:1.8em;
    letter-spacing:0.06em;
    }
    
    fieldset{
    border:0;
    }
    
    a, button, select{
    outline:none !important;
    }
    
    img{
    width:99%;
    }
    
    .title{
    font-family: 'Playfair Display', serif;
    }
    
    .cursive{
    font-family: Arial;
    font-size: 1rem;
    }
    
    em{
    font-style:normal;
    color:#e30846;
    }
    
    p{
    line-height:1.6em;
    letter-spacing:0.06em;
    }
    
    .title{
    font-family: 'Playfair Display', serif;
    }
    
    .title_header{
    width:60%;
    text-align:center;
    margin:auto;
    }
    
    .title_header h1{
    font-size:2em;
    }
    
    .title_header h3{
    font-size:1.2em;
    font-weight:400;
    color:rgba(1,1,1,0.7);
    }
    
    .btn1{
    padding:20px;
    text-align:center;
    display:inline-block;
    width:200px;
    background-color:#e30846;
    border-radius:40px;
    font-weight:600;
    }
    
    .btn1:hover{
    background-color:#202124;
    }
    
    .btn2{
    padding:20px;
    text-align:center;
    display:inline-block;
    width:250px;
    border-radius:40px;
    font-weight:600;
    }
    
    .btn1:hover{
    background-color:#202124;
    }
    
    .border-shape {
    background: #202124 none repeat scroll 0 0;
    color: #fff;
    display: block;
    height: 3px;
    left: 0;
    margin: 20px auto;
    position: relative;
    right: 0;
    text-align: center;
    top: 0;
    width: 80px;
    }
    
    .border-shape::before {
    background: #e30846 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    left: 80px;
    margin: 0 auto;
    position: absolute;
    text-align: center;
    top: 1px;
    width: 100%;
    }
    
    .border-shape::after {
    background: #e30846 none repeat scroll 0 0;
    bottom: 0;
    content: "";
    height: 1px;
    margin: 0 auto;
    position: absolute;
    right: 80px;
    text-align: center;
    top: 1px;
    width: 100%;
    }
    
    @media (max-width:820px){
    .btn1,.btn2{
    padding:10px 15px;
    width:150px;
    font-size: 20px;
    }
    .title_header{
    width:100%;
    }
    .title_header h1{
    font-size:2em;
    }
    
    .title_header h3{
    font-size:2em !important;
    }
    }

    
    /*=============================HEADER=========================*/
    .header{
    width:100%;
    position:relative;
    display:flex;
    align-items:center;
    background-color:#e30846;
    padding:1rem 0;
    padding-bottom:3rem;
    }
    
    .header section{
    width:100%;
    text-align:center;
    padding:1rem 2rem;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    .header section span{
    margin:0 20px;
    }
    
    .header section span a{
    color:white;
    white-space:nowrap;
    }
    
    .header section span a:hover{
    color:black;
    }
    
    @media (max-width:820px){
    .header section:nth-child(1){
    display:none;
    }
    }
    
    
    /*================ header ID section TOP NAVIGATION*/
    #header{
    position:fixed;
    top:5rem;
    width:100%;
    z-index:99999;
    transition:0.5s;
    }
    
    .topnav {
    overflow: hidden;
    background-color:#061221;
    width:80%;
    margin:auto; 
    box-shadow:0px 6px 16px -6px rgba(1,1,1,0.7);
    transition:0.5s;
    }
    
    .topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 16px 16px;
    margin:auto 1rem;
    text-decoration: none;
    font-size: 17px;
    position:relative;
    top:10px;
    }
    
    #logo{
    width:120px;
    position:relative;
    top:-10px;
    }
    
    #icon{
    float:right;
    }
    
    #active{
    display:flex;
    }
    
    #active img{
    width:130px;
    }
    
    #active:hover{
    color:#fff;
    }
    
    .topnav .icon {
    display: none;
    }
    
    
    @media screen and (max-width: 1120px) {
    .topnav a:not(:first-child), .dropbtn {
    display: none;
    }
    .topnav a.icon {
    float: right;
    display: block;
    }
    #active{
    display:none;
    }
    }
    
    @media screen and (max-width: 1120px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
    }
    .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    padding: 14px 16px;
    }
    }
    
    
    
    
    
  
    /*======================= BANNER ====================*/
    .banner{
    width:100%;
    height:100vh;
    background: linear-gradient(rgba(1,1,1,.7), rgba(1,1,1,.7)), url("building/equpt.avif");
    background-size:cover;
    background-position:center;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    position:relative;
    }
    
    .banner:after{
    content:"";
    background-image:url("https://i.ibb.co/8zB1N3z/wave.png");
    background-size:cover;
    width:100%;
    height:100px;
    position:absolute;
    bottom:0;
    }
    
    .banner section{
    width:fit-content;
    text-align:center;
    }
    
    .banner section .cursive{
    font-size:5em;
    line-height:1;
    }
    
    .banner section h2{
    font-weight:200;
    line-height:1.6em;
    }
    
    .banner .btn1{
    display:inline-block;
    margin:2vh 20px;
    }
    
    @media (max-width:991px){
    .banner{
    width:100%;
    padding: 50px 0 50px 0;
    }
    .banner section h2{
    font-size:4em;
    }
    .banner section .cursive{
    font-size:2.3em;
    line-height:2;
    }
    .banner .btn1{
    margin:2vh 10px;
    line-height:1;
    }
    }

    @media (max-width: 768px) {
      .banner h1 {
        font-size: 30px;
        line-height: 20px;
        padding: 10px 0 30px 0;
      }
    
      .banner h2 {
        font-size: 18px;
        line-height: 24px;
        margin-bottom: 30px;
        padding: 10px 0 10px 0;
      }
    }
  
    
  
    
    
    /*===============================ABOUT Japhent=========================*/
    .about-japhet{
    display:flex;
    align-items:center;
    margin:2rem 0;
    }
    
    .about-japhet section{
    position:relative;
    width:100%;
    padding:4rem;
    }
    
    .about-japhet section:nth-child(2){
    padding:4rem 2rem;
    }
    
    .about-japhet section:nth-child(1){
    background-image:url("https://i.ibb.co/1v2CTjz/shape.png");
    background-repeat:no-repeat;
    background-position:center;
    background-size:50% 99%;
    }
    
    .about-japhet section img:nth-child(1){
    width:70%;
    border:5px solid #fff;
    border-radius:5px;
    }
    
    .about-japhet section img:nth-child(2){
    position:absolute;
    right:15%;
    bottom:5%;
    width:40%;
    border:5px solid #fff;
    }
    
    .about-japhet .title{
    font-size:3em;
    line-height:0em;
    line-height:2;

    }
    
    .about-japhet h3{
    font-weight:400;
    line-height:2;

    }
    
    .about-japhet p{
    font-size:20px;
    color:rgba(1,1,1,0.7);
    }
    
    .about-japhet .btn1{
      display:inline-block;
      margin:2vh 20px;
      }
    
    
    @media (max-width:820px){
    .about-japhet{
    display:block;
    }
    
    .about-japhet section{
    padding:1rem;
    }
    
    .about-japhet section:nth-child(2){
    padding:4rem 1rem;
    }
    
    .about-japhet .title{
    font-size:1.8em;
    line-height: 2;
    }
    
    .about-japhet p{
    font-size:18px;
    }
    .about-japhet .btn1{
      display:inline-block;
      margin:1vh 20px;
      font-size: 10px;
      }
    }
    
    
    
    /* ==================================================================== */
    /*========================== section1.section1 =========================*/
    .section1{
    align-items:top;
    padding:3rem;
    background-color:#f3f7f6;
    background: linear-gradient(rgba(255,255,255,.8), rgba(255,255,255,.8)), url(".https://i.ibb.co/1v2CTjz/shape.png");
    background-repeat:no-repeat;
    }
    
    .section1 .title_header{
    padding:3rem;
    width:60%;
    font-family: "Roboto", sans-serif;
    line-height: 3;
    }

    .section1 .title_header h3{
      font-family: "Roboto", sans-serif;
      word-spacing: 2;
      font-weight:200;
    line-height:1.6em;
    }
    
    .section1 section{
    width:100%;
    }
    
    .section1 .cards {
    width: calc(100% - 2em);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr; 
    grid-gap: 2em;
    grid-template-areas: "a b c e" "a d e";
    width: 100%;
    }
    
    .section1 .card {
    width: 100%;
    position: relative;
    transition: all 0.25s ease;
    cursor: pointer;
    font-family: "Roboto", sans-serif;
    font-weight: 800;
    font-size: 20px;
    }

    .section1 .card:last-child {
    margin-bottom: 0;
    }

    .section1 .card:before {
    height: 0;
    content: "";
    display: block;
    padding-bottom: 47.36%;
    }

    .section1 .card.content:after {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    content: "";
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), black);
    }

    /* .section1 .card:nth-child(1) {
    grid-area: a;
    }

    .section1 .card:nth-child(2) {
    grid-area: b;
    }

    .section1 .card:nth-child(3) {
    grid-area: c;
    }

    .section1 .card:nth-child(4) {
    grid-area: d;
    }

    .section1 .card:nth-child(5) {
      grid-area: e;
      } */

    .section1 .card-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    .section1 .card-img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }

    .section1 .card-img img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    }

    .section1 .card-label {
    position: absolute;
    top: 0.45rem;
    left: 0.45rem;
    background: #089f8a;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 0.7em;
    color: white;
    padding: 0.5em;
    }

    .section1 .card-title {
    position: absolute;
    left: 1em;
    bottom: 1em;
    color: #d6dbeb;
    z-index: 5;
    font-size: 0.8em;
    }

    .section1 .card:nth-child(2) .card-label {
    background: #ef4e7b;
    }
    .section1 .card:nth-child(3) .card-label {
    background: #1098ad;
    }
    .section1 .card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.35);
    }
    .section1 .card:hover .form-title:before {
    filter: blur(3px);
    opacity: 0.7;
    }
    
    @media (max-width:820px){
    .section1{
    padding:1rem;
    }
    .section1 .title_header{
    padding:1rem;
    width:100%;
    }
    .section1 .cards {
    width: calc(100% - 2em);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 1em 0em;
    grid-template-areas: "a" "b" "c" "d" "e";
    width: 100%;
    font-size: 20px;
    }
    }
    
    
    /* ==================================== */
    /*================ FOOTER ==============*/
    footer{
    width:100%;
    background: #061221;
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    background-attachment:local;
    color: #fff;;
    padding:3rem 0;
    }
    
    footer a{
    color:#fff;
    }
    
    footer a:hover{
    color: #e308e3;
    }
    
    footer .top_section{
    padding:1rem;
    display:flex;
    align-items:center;
    }
    
    footer .top_section section{
    width:33%;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    footer .top_section section span{
    padding:1rem;
    }
    
    footer .top_section section span .fa{
    font-size:2em;
    color:var(--primary);
    }
    
    footer .middle_section{
    padding:1rem;
    display:flex;
    align-items:center;
    justify-content:center;
    }
    
    footer .middle_section span{
    display:block;
    padding:1rem 0;
    text-align:center;
    }
    
    footer .middle_section span a{
    margin:0 20px;
    }
    
    footer .middle_section span a .fa{
    font-size:1.5em;
    }
    
    footer .bottom_section{
    text-align:center;
    font-size:15px;
    padding:1rem 0;
    }
    
    @media (max-width:820px){
    footer{
    background-attachment:local;
    }
    
    footer .middle_section{
    display:block;
    }
    footer .middle_section span a{
    white-space:nowrap;
    margin:10px ;
    }
    }